html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Início Header */

.container header p{
  display: flex;
  justify-content: center;
  font-size: large;
}

.container header nav ul{
  display: flex;
  justify-content: space-around;
}

.container header nav ul li{
  list-style-type: none;
}

.container header nav ul li:hover{
  cursor: pointer;
  text-decoration: underline;
}

/* Fim Header */

/* Início Capítulos // Informações */

.aside-one h2, .aside-two h2{
  display: flex;
  justify-content: center;
}

.aside-one ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 20px;
  padding-left: 0;

}

.aside-one ul li{
  font-size: 15px;
  flex-basis: 40%;
  list-style-type: none;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.aside-two ul{
  margin: 0 20px;
  padding-left: 0;
  display: flex;
  flex-direction: column;
} 

.aside-two ul li{
  display: flex;
  justify-content: center;
  list-style-type: none;
}

/* Fim Capítulos // Informações */

/* Início conteúdo principal */

.main-content h1{
  font-size: x-large;
  display: flex;
  justify-content: center;
}

.main-content p{
  margin: 10px 20px;
}

/* Fim conteúdo principal */

/* Início Rodapé */

footer h3, footer p{
  display: flex;
  justify-content: center;
}

footer p{
  font-size: 15px;
  margin: 10px 20px;
}

/* Fim Rodapé */

@media (min-width: 768px){
  .container header{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 0 20px;
  }

  .container header nav ul li {
    margin: 0 20px;
  }
}